= semantic_form_for [@page, @item], remote: true do |f|
  = f.input :position, as: :hidden
  = f.input :itemizable_type, as: :hidden
  = f.semantic_fields_for :itemizable do |itemizable_f|
    .row-fluid
      = itemizable_f.input :title, input_html: {class: "span4"}
    .row-fluid
      .front-end-container{class: @item.itemizable.back_end_empty? ? "span9" : "span6"}
        = itemizable_f.input :front_end, input_html: {class: @item.itemizable.back_end_empty? ? "span10" : "span11", rows: "10"}
        = link_to "+ Backend", "#add_backend", class:"add-backend #{@item.itemizable.back_end_empty? ? "" : "hide"}"

      .span6.back-end-container{class: @item.itemizable.back_end_empty? ? "hide" : "" }
        = itemizable_f.input :back_end, input_html: {class: "span11", rows: "10"}
    .row-fluid
      .span4
        = f.action :submit, :button_html => { :class => "btn btn-success" }
        = link_to "Cancel", "#cancel", class: "cancel"
