.row-fluid
  .title
    %h3= feature.title
.row-fluid
  .span6.textile
    - if feature.back_end.present?
      %h5= "Front end"
    = MarkdownParser.new(feature.front_end).to_html.html_safe
  .span6.textile
    - if feature.back_end.present?
      %h5= "Back end"
      = MarkdownParser.new(feature.back_end).to_html.html_safe
