.spec_page
  .spec-content
    .publish-container

      = semantic_form_for @page, url: page_toggle_public_path(@page), remote: true do |f|
        = f.input :public, as: :boolean, input_html: {data: {toggle: "checkbox"}}
      = link_to "Sync With Pivotal Tracker", page_pt_sync_path(@page), class: "btn btn-primary start-sync", remote: true
      .public-url-container
        - if @page.public?
          = link_to(page_public_url(@page), page_public_url(@page))
      .project-select-container
    .row-fluid
      .page-name.actions-container-parent
        = render partial: "page_name"

    .row-fluid.page-content
      = hidden_field_tag :reorder_items_path, page_reorder_items_path(@page)

      .initial-item-container
        = render partial: "insert_item", locals: {position: @list_items.size, show_cancel: false}

      %ul.item-list
        = render partial: "item", collection:@list_items, as: :item

